/* Estilos para el contenedor principal */
.Crear {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../imagenes/crear.jpg');
    background-size: cover;
    background-position: center;
}

/* Estilos para el contenedor del formulario */
.Crear .formulario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
}

/* Estilos específicos del formulario (descomenta según sea necesario) */

.Crear .formulario h1 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.Crear .formulario h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.Crear .formulario input[type='text'],
.Crear .formulario input[type='date'],
.Crear .formulario button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
}

.Crear .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    resize: none;
}

.Crear .formulario button {
    cursor: pointer;
    background-color: #ff5252;
    transition: background-color 0.3s ease;
}

.Crear .formulario button:hover {
    background-color: #ff1744;
}

.Crear .formulario .error {
    color: #ff5252;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.Crear .formulario .list {
    list-style: none;
    padding: 0;
}

.Crear .formulario .list li {
    margin-bottom: 5px;
}

.Crear .formulario .list li button {
    margin-left: 10px;
    background-color: #ff5252;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.Crear .formulario .list li button:hover {
    background-color: #ff1744;
}

