
.Crear {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../imagenes/crear.jpg');
    background-size: cover;
    background-position: center;
}


.Crear .formulario {
    background-color: #693ea5;
    padding: 80px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1300px;
 
}


.Crear .formulario h1 {
    font-size: 64px; 
    margin-bottom: 40px;
    text-align: center;
}

.Crear .formulario input[type='text'],
.Crear .formulario input[type='date'],
.Crear .formulario textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 40px; 
}


.Crear .formulario button.deleteButton {
    width: 5%;
    padding: 8px; 
    font-size: 20px; 
  }

.Crear .formulario button:hover {
    background-color: #0056b3;
}

.Crear .formulario button {
    width: 20%;
    padding: 15px; 
    font-size: 24px; 
}

.Crear .formulario .lista .result button {
    font-size: 20px; 
    padding: 5px 10px;
}

.Crear .formulario .lista .result li {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px; 
  }
  
  .Crear .formulario .Genres,
  .Crear .formulario .Platforms {
    font-size: 24px; 
    padding: 15px; 
    border: 2px solid #ccc; 
    border-radius: 10px;
    background-color: #f9f9f9; 
    color: #333;
}


.Crear .formulario .error {
    color: #ff5252; 
    font-size: 28px; 
    margin-top: 5px; 
    margin-bottom: 10px;
}



.inputLabel {
    font-size: 2.2rem; 
    margin-bottom: 10px;
  }
   

  .Crear .formulario input[name='rating'] {
    font-size: 33px; 
    padding: 10px;
    width: 20%;
  }
  
 
  

  